*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

build

Makefile.in
Makefile
aclocal.m4
autom4te.cache

#ChangeLog
VERSION
TODO

configure
configure.ac
config.log
config.status

tools/maint/fetch
tools/maint/whitespace-detect
tools/maint/gitlog-to-committers

tools/autotools/install-sh
tools/autotools/missing
tools/autotools/mdate-sh
tools/autotools/texinfo.tex
tools/autotools/py-compile

docs/man/dtt.1
docs/man/dtt-*.1
docs/info/dtt.info

src/dtt
src/*.pyc
src/Config.py

site/in/.sitetool
site/in/site.stamp
site/out/*

