*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

build

Makefile.in
Makefile
aclocal.m4
autom4te.cache

#ChangeLog
VERSION
TODO

configure
configure.ac
config.log
config.status

tools/maint/fetch
tools/maint/whitespace-detect
tools/maint/gitlog-to-committers

tools/autotools/install-sh
tools/autotools/missing
tools/autotools/mdate-sh
tools/autotools/texinfo.tex
tools/autotools/py-compile

tools/autotools/m4/python_autofrisk.m4

docs/man/dnt.1
docs/man/dnt-*.1
docs/man/dnt-to-devtodo.1
docs/man/devtodo-to-dnt.1
docs/info/dnt.info

src/dnt
src/dnt-to-devtodo
src/devtodo-to-dnt
src/*.pyc
src/Commands/*.pyc
src/Configuration.py

tests/defs
tests/wrapper
tests/testSubDir-*
tests/test-success
tests/test-fail
tests/test-debug
tests/test-verbose
tests/test-dnt-to-devtodo-01
tests/test-devtodo-to-dnt-01
tests/test-command-show-01
tests/test-command-config-01
tests/test-command-add-01
tests/test-command-edit-01
tests/test-command-fix-01
tests/test-command-init-01
tests/test-command-clean-01
tests/test-command-move-01
tests/test-command-remove-01
tests/test-command-touch-01
tests/test-command-done-01
tests/test-command-dump-01

site/in/.sitetool
site/in/site.stamp
site/out/*
