/defs
/wrapper

/testSubDir-*

/test-success
/test-fail
/test-skip

/test-debug
/test-verbose
/test-help
/test-version

/test-dnt-to-devtodo-01
/test-devtodo-to-dnt-01

/test-command-init-help-01
/test-command-init-opts-short-01
/test-command-init-opts-long-01
/test-command-init-version-01
/test-command-init-01
/test-command-init-configuration-01

/test-command-clean-help-01
/test-command-clean-opts-short-01
/test-command-clean-opts-long-01
/test-command-clean-version-01
/test-command-clean-01

/test-command-add-help-01
/test-command-add-opts-short-01
/test-command-add-opts-long-01
/test-command-add-version-01
/test-command-add-01
/test-command-add-02
/test-command-add-03
/test-command-add-04
/test-command-add-configuration-01

/test-command-config-help-01
/test-command-config-opts-short-01
/test-command-config-opts-long-01
/test-command-config-version-01
/test-command-config-01
/test-command-config-02
/test-command-config-03

/test-command-edit-help-01
/test-command-edit-opts-short-01
/test-command-edit-opts-long-01
/test-command-edit-version-01
/test-command-edit-01
/test-command-edit-02
/test-command-edit-03
/test-command-edit-04
/test-command-edit-interactive-01
/test-command-edit-interactive-02
/test-command-edit-interactive-03
/test-command-edit-no-interactive-01
/test-command-edit-configuration-01

/test-command-move-help-01
/test-command-move-opts-short-01
/test-command-move-opts-long-01
/test-command-move-version-01
/test-command-move-01
/test-command-move-02

/test-command-remove-help-01
/test-command-remove-opts-long-01
/test-command-remove-opts-short-01
/test-command-remove-version-01
/test-command-remove-01

/test-command-show-help-01
/test-command-show-opts-long-01
/test-command-show-opts-short-01
/test-command-show-version-01
/test-command-show-01
/test-command-show-02
/test-command-show-03
/test-command-show-04
/test-command-show-05
/test-command-show-06
/test-command-show-07
/test-command-show-08
/test-command-show-09
/test-command-show-10
/test-command-show-11
/test-command-show-filter-01
/test-command-show-filter-02
/test-command-show-filter-03
/test-command-show-filter-04
/test-command-show-filter-05
/test-command-show-filter-06
/test-command-show-filter-07
/test-command-show-filter-08
/test-command-show-filter-09
/test-command-show-filter-10
/test-command-show-filter-11
/test-command-show-filter-12
/test-command-show-filter-13
/test-command-show-filter-14
/test-command-show-filter-15
/test-command-show-filter-16
/test-command-show-wrap-01
/test-command-show-wrap-02
/test-command-show-wrap-03
/test-command-show-wrap-04
/test-command-show-flags-01
/test-command-show-collapsed-01
/test-command-show-configuration-01
/test-command-show-sorting-01
/test-command-show-sorting-02
/test-command-show-sorting-03
/test-command-show-sorting-04

/test-command-mark-help-01
/test-command-mark-opts-short-01
/test-command-mark-opts-long-01
/test-command-mark-version-01
/test-command-mark-done-01
/test-command-mark-done-02
/test-command-mark-done-03
/test-command-mark-done-04
/test-command-mark-not-done-01

/test-import-export-01
/test-import-export-02
/test-import-export-03

/test-db-01
/test-db-02
/test-db-03
/test-db-04
/test-db-05
/test-db-06
/test-db-07
/test-db-08
